/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

body {
  padding-top: 50px;
  background:black;
}

.text-primary{
    color:white;
}

a{
    color:grey;
}

a:hover{
    color:white;
}

a:active{
    color:white;
}

/*a:visited{
    color:dimgray;
}*/

tr.pass{
    background-color:#31641B !important;
}

tr.fail{
    background-color:#9A1F1F !important;
}


/* Override the default hover colour (white) for the Success rows */
.table-hover tbody tr.pass:hover td, .table-hover tbody tr.pass:hover th {
  background-color:#5BB65B;
}

/* Override the default hover colour (white) for the Fail rows */
.table-hover tbody tr.fail:hover td, .table-hover tbody tr.fail:hover th {
  background-color:#F76666;
}

/* Disable hover on the header row, by using the bg colour for the hover colour */
.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
    background-color: inherit;
}

.margin-right{
    margin-right:60px;
}