@model bool?

<fieldset>
    @{
        var yesAttrs = new Dictionary<string, object>();
        var noAttrs = new Dictionary<string, object>();

        yesAttrs.Add("id", ViewData.TemplateInfo.GetFullHtmlFieldId("") + "Yes");
        noAttrs.Add("id", ViewData.TemplateInfo.GetFullHtmlFieldId("") + "No");

        if (Model.HasValue && Model.Value)
        {
            yesAttrs.Add("checked", "checked");
        }
        else
        {
            // Default to False
            noAttrs.Add("checked", "checked");
        }
    }
    <div class="buttonset-option">
        @Html.RadioButtonFor(x => x, "true", yesAttrs)
        @Html.Label(ViewData.TemplateInfo.GetFullHtmlFieldId("") + "Yes", "Yes")
    </div>
    <div class="buttonset-option">
        @Html.RadioButtonFor(x => x, "false", noAttrs)
        @Html.Label(ViewData.TemplateInfo.GetFullHtmlFieldId("") + "No", "No")
    </div>
</fieldset>
