@model IEnumerable<IsItABangerWeb.Models.Song>

@{
    ViewBag.Title = "Tested Songs";
}

<div class="page-header">
    <h2 class="text-primary">The Bangers <small class="text-muted">and the fizzers</small></h2>
</div>

@Html.Partial("_Songs", Model)

