@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p class="text-primary">Based on a super rigorous algorithm developed by Tommy Fresh aka Tom Haverford from Parks and Recreation, this site allows you, dear user, 
    to determine whether that song you are listening to is a banger, or if you should throw out your computer (just to be safe).</p>
<p class="text-primary">
    In reality, this site is a playground for my experimentation with some web development technologies. See the source code on my <a href="https://github.com/crejb/IsItABanger">GitHub</a> page, or drop me a line at developmentsofchris(at)gmail.com.
</p>

